.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    margin-top: 140px;
    display: flex;
    gap: 55px;
}

.textCol {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.maintext {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
}

.sliderText {
    margin: 25px;
    font-size: 36px;
    font-weight: bold;
}

.additionalText {
    font-size: 26px;
    font-weight: normal;
}

.image {
    width: 450px;
    height: auto;
}

.gradientFirst {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #0027b6, #42c9ff, #4776E6);
    background-size: 400% 400%;
    animation: animate 10s ease infinite;
}

.gradientSecond {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #3494E6, #CB80FF);
    background-size: 400% 400%;
    animation: animate 7s ease infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 1196px) {

    .image {
        width: 380px;
        height: 400px;
    }
    .textCol {
        margin-top: 50px;
    }
}

@media (max-width: 868px) {

    .image {
        width: 280px;
        height: 300px;
    }

    .maintext {
        font-size: 48px;
    }
}

@media (max-width: 768px) {

    .image {
        width: 280px;
        height: 300px;
    }

    .maintext {
        font-size: 46px;
        margin-left: 2px;
    }
}

@media (max-width: 690px) {
    .image {
        display: none;
    }
    .sliderText {
        font-size: 26px;
    }
    .textCol {
        margin-left: 4px;
    }
    .additionalText {
        font-size: 24px;
        font-weight: normal;
    }
}