.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.slogan {
    font-size: 52px;
    font-weight: 600;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight:500;
}